@model IEnumerable<AnimalFeedingCalculator.Data.Models.ZooAnimal>
@{
    ViewData["Title"] = "Zoo Animals Uploader";
}

@if (Model == null)
{
    <h3>Please Upload the Zoo Animal Details xml file in order to Calculate the Food Consumption </h3>
}
else
{
    <h1>The Zoo Animal Details xml file is uploaded successfully!</h1>
    <br />

    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>
                    Animal
                </th>
                <th>
                    Name
                </th>
                <th>
                    Weight In Kgs
                </th>
                <th>
                    Animal Type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => animal.Animal)
                    </td>
                    <td>
                        @Html.DisplayFor(model => animal.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => animal.Kg)
                    </td>
                    <td>
                        @Html.DisplayFor(model => animal.AnimalType)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}