@{
    ViewData["Title"] = "Animal Feeding";
}

<h1>The Prices file is Uploaded</h1>
<br />

@*<form method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">

        <h4>Upload the Food per Kg Price Details in Text format</h4>
        <br />
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />

        <h4>Upload the Food Consumption Details in csv format</h4>
        <br />
        <h4>Upload the Zoo Animals List in xml format</h4>
    </form>*@